<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <linkManager>
            <providers>
                <add name="sitecore" set:languageEmbedding="never" set:lowercaseUrls="true" set:type="ScHelix.Foundation.HelixCore.Providers.LinkProvider, ScHelix.Foundation.HelixCore" />
            </providers>
        </linkManager>
    </sitecore>
</configuration>
