<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="ScHelix.Foundation.HelixCore.Pipelines.Initialize.AppInitialization, ScHelix.Foundation.HelixCore" />
            </initialize>
            <httpRequestBegin>
                <processor type="ScHelix.Foundation.HelixCore.Pipelines.HttpRequestBegin.LanguageNotFoundItemResolver, ScHelix.Foundation.HelixCore" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
                <processor type="ScHelix.Foundation.HelixCore.Pipelines.HttpRequestBegin.RedirectUserToChangePassword, ScHelix.Foundation.HelixCore" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" />
                <processor type="ScHelix.Foundation.HelixCore.Pipelines.HttpRequestBegin.SetSessionBehavior, ScHelix.Foundation.HelixCore" />
            </httpRequestBegin>
            <getScreenShotForURL role:require="ContentDelivery">
                <patch:delete />
            </getScreenShotForURL>
            <renderField>
                <processor patch:before="*[1]" type="ScHelix.Foundation.HelixCore.Pipelines.RenderField.ShowTitleWhenBlank, ScHelix.Foundation.HelixCore" />
            </renderField>
            <!-- https://kamsar.net/index.php/2016/03/Branch-Datasource-Presets/ -->
            <group name="itemProvider" groupName="itemProvider" role:require="Standalone or ContentManagement">
                <pipelines>
                    <addFromTemplate>
                        <processor type="ScHelix.Foundation.HelixCore.Pipelines.BranchPresets.AddFromBranchPreset, ScHelix.Foundation.HelixCore" />
                    </addFromTemplate>
                </pipelines>
            </group>
            <processors>
                <loggedin role:require="Standalone or ContentManagement">
                    <processor mode="on" patch:after="*[last()]" type="ScHelix.Foundation.HelixCore.Pipelines.LoggedIn.DefaultToSharedLayout, ScHelix.Foundation.HelixCore" />
                </loggedin>
            </processors>
            <getFieldValue>
                <processor type="ScHelix.Foundation.HelixCore.Pipelines.GetFieldValue.IsValidForLanguageFallback, ScHelix.Foundation.HelixCore" patch:instead="processor[@type='Sitecore.Pipelines.GetFieldValue.IsValidForLanguageFallback, Sitecore.Kernel']"/>
            </getFieldValue>
        </pipelines>
    </sitecore>
</configuration>
