<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <mvc.getPageRendering>
                <processor type="ScHelix.Foundation.HelixCore.RenderingAssets.Pipelines.GetPageRendering.ClearAssets, ScHelix.Foundation.HelixCore" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" />
                <processor type="ScHelix.Foundation.HelixCore.RenderingAssets.Pipelines.GetPageRendering.AddAssets, ScHelix.Foundation.HelixCore" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']">
                    <siteAssets hint="raw:AddAsset" />
                </processor>
                <processor type="ScHelix.Foundation.HelixCore.RenderingAssets.Pipelines.GetPageRendering.AddRenderingAssets, ScHelix.Foundation.HelixCore" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" />
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>
