<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore>
        <contentSearch>
            <configuration>
                <indexes>
                    <index id="sitecore_master_index" set:type="Sitecore.ContentSearch.SolrProvider.SwitchOnRebuildSolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="Standalone or ContentManagement">
                        <param desc="rebuildcore" patch:after="*[@desc='core']">$(id)_rebuild</param>
                        <enableItemLanguageFallback>true</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
                        <strategies>
                            <strategy set:ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster"/>
                        </strategies>
                    </index>
                    <index id="sitecore_web_index" set:type="Sitecore.ContentSearch.SolrProvider.SwitchOnRebuildSolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="Standalone or ContentDelivery or ContentManagement">
                        <param desc="rebuildcore" patch:after="*[@desc='core']">$(id)_rebuild</param>
                        <enableItemLanguageFallback>true</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
                        <strategies>
                            <strategy set:ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual"/>
                        </strategies>
                    </index>
                </indexes>
            </configuration>
            <indexConfigurations>
                <defaultSearchSecurityOption>EnableSecurityCheck</defaultSearchSecurityOption>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>
