<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="AccountNameValidation" set:value=".+" />
            <setting name="AllowDuplicateItemNamesOnSameLevel" set:value="false" />
            <setting name="ContentEditor.SortLanguages" set:value="true" />
            <setting name="Media.AutoSetAlt" set:value="true" />
            <setting name="Media.RequestExtension" set:value="" />
            <setting name="LanguageFieldFallback.AllowStandardValuesForSharedLanguageFallback" value="true" />
            <setting name="IgnoreUrlPrefixes" set:value="/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/sitecore/service/xdb/disabled.aspx|/bundles" />
            <setting name="Analytics.CookieDomain" set:value="$(rootHostName)" />
            <setting name="Login.DisableLicenseInfo" set:value="false" />
            <setting name="Preview.DefaultSite" set:value="$(rootHostName)" />
            <setting name="HtmlEditor.DefaultProfile" set:value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Medium" />
            <setting name="ServerTimeZone" set:value="UTC" />
            <setting name="Media.RequestProtection.SharedSecret" set:value="D1FA5,7C4AED9.$+U@R+84AA0/FAEF|D0DE9E|\8FD6AEC+8F87F-B037_66C8)HUN+#R(EB23BE79!AD9D5D@R0$#19AD2361$32102%900B723^CF98;0957FC" />
            <setting name="RenderingChrome.DisplayExtendedInfo" value="true" role:require="Standalone or ContentManagement" />
            <setting name="RenderingChrome.DisplayExtendedInfo" value="false" role:require="ContentDelivery" />

            <!--Error pages-->
            <setting name="ErrorPage" set:value="/500" />
            <setting name="ItemNotFoundUrl" set:value="/404" />
            <setting name="LayoutNotFoundUrl" set:value="/404" />
            <setting name="LinkItemNotFoundUrl" set:value="/404" />
            <setting name="NoAccessUrl" set:value="/404" />
        </settings>
    </sitecore>
</configuration>
