<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sites>
            <!--Allows for language fallback to work in the Sitecore shell-->
            <site name="shell" set:enableItemLanguageFallback="true" set:enableFieldLanguageFallback="true" />

            <!--
            Creates a default site entry that subsites can inherit from
            "scheme" of "https" and "externalPort" of "80" is not in conflict, this prevents the link manager from showing the port number in absolute URLs
            -->
            <site name="website" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content" startItem="/home" language="en" database="web" domain="extranet" loginPage="/login" allowDebug="true" cacheHtml="true" htmlCacheSize="" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" enableItemLanguageFallback="true" enableFieldLanguageFallback="true" enforceVersionPresence="true" scheme="https" externalPort="80" notFoundItem="/404" changePwdItem="/change-password" changePwdDays="0" forgotPwdItem ="/forgot-password" patch:instead="site[@name='website']" />
            <site name="website" set:database="master" role:require="ContentManagement or Standalone" />
            <site name="website" set:allowDebug="false" set:enablePreview="false" set:enableWebEdit="false" set:enableDebugger="false" role:require="ContentDelivery" />
        </sites>
        <cacheSizes>
            <sites>
                <website>
                    <patch:delete />
                </website>
            </sites>
        </cacheSizes>
    </sitecore>
</configuration>
