<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="WildcardWrapSearchTermsInEncodedQuotes" value="False" />
            <setting name="WildcardTokenizedString" value=",-w-," />
            <setting name="WildcardTokenizeSearchTerms" value="False" />
            <setting name="WildcardProvider.RoutesPath" value="/sitecore/system/modules/wildcards/routes" />
            <setting name="ItemResolving.FindBestMatch">
                <patch:attribute name="value">Disabled</patch:attribute>
            </setting>
        </settings>
        <wildcardManager defaultProvider="wildcardResolver">
            <providers>
                <add name="wildcardResolver" type="ScHelix.Foundation.HelixCore.Wildcards.WildcardRouteResolver, ScHelix.Foundation.HelixCore" />
            </providers>
        </wildcardManager>
        <wildcardItemResolver defaultProvider="contentSearch">
            <providers>
                <add name="contentSearch" type="ScHelix.Foundation.HelixCore.Wildcards.ItemResolving.ContentSearchWildcardItemResolver, ScHelix.Foundation.HelixCore" />
            </providers>
        </wildcardItemResolver>
        <urlGenerationTokenValueExtractor defaultProvider="itemReader">
            <providers>
                <add name="itemReader" type="ScHelix.Foundation.HelixCore.Wildcards.UrlGeneration.TokenValueExtraction.ItemReaderTokenValueExtractor, ScHelix.Foundation.HelixCore" />
            </providers>
        </urlGenerationTokenValueExtractor>
        <pipelines>
            <mvc.getPageItem>
                <processor type="ScHelix.Foundation.HelixCore.Wildcards.Pipelines.Response.GetPageItem.GetFromWildcard, ScHelix.Foundation.HelixCore"
                           patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromOldContext, Sitecore.Mvc']" />
            </mvc.getPageItem>
        </pipelines>
        <linkManager defaultProvider="sitecore">
            <providers>
                <add name="sitecore">
                    <patch:attribute name="type">ScHelix.Foundation.HelixCore.Wildcards.UrlGeneration.WildcardLinkProvider, ScHelix.Foundation.HelixCore</patch:attribute>
                </add>
            </providers>
        </linkManager>
        <events>
            <event name="publish:end">
                <handler type="ScHelix.Foundation.HelixCore.Wildcards.Events.PublishEnd.WildcardsCachePurgeProcessor, ScHelix.Foundation.HelixCore" method="ClearCache" />
            </event>
            <event name="publish:end:remote">
                <handler type="ScHelix.Foundation.HelixCore.Wildcards.Events.PublishEnd.WildcardsCachePurgeProcessor, ScHelix.Foundation.HelixCore" method="ClearCache" />
            </event>
        </events>
    </sitecore>
</configuration>
