<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <connectionStrings>
        <add name="core" connectionString="INSERT_CORE_DB_CONNSTRING"/>
    </connectionStrings>
    <system.web>
        <membership defaultProvider="sql" hashAlgorithmType="SHA512">
            <providers>
                <clear />
                <add name="sql" type="System.Web.Security.SqlMembershipProvider" connectionStringName="core" applicationName="sitecore" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" />
            </providers>
        </membership>
    </system.web>
</configuration>
