<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="zrYMB8DFSZf7G74ACSsVON8jEKOGElaHvUT43HwOETJ3HYK2dKJ5LtC8pRYfRf7W60rjI2mmveDbyo3o6bulwotMfHfB2yTz0btBF75kUlZoQURR9hPmxAWqFCJXPwClKGCmgeXiZSZMI9miidYDAlBbozfwGLu2EHaovZIT5sgkFVXKjlW0chOEY1ntoqC82X4xXo0OLecCOh79swnyIoYOJ4UxOEIMRqiVO26Qvnt7zwaipYdlx15hZINMywwX" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        <add key="Telerik.Upload.ConfigurationHashKey" value="zrYMB8DFSZf7G74ACSsVON8jEKOGElaHvUT43HwOETJ3HYK2dKJ5LtC8pRYfRf7W60rjI2mmveDbyo3o6bulwotMfHfB2yTz0btBF75kUlZoQURR9hPmxAWqFCJXPwClKGCmgeXiZSZMI9miidYDAlBbozfwGLu2EHaovZIT5sgkFVXKjlW0chOEY1ntoqC82X4xXo0OLecCOh79swnyIoYOJ4UxOEIMRqiVO26Qvnt7zwaipYdlx15hZINMywwX" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="zrYMB8DFSZf7G74ACSsVON8jEKOGElaHvUT43HwOETJ3HYK2dKJ5LtC8pRYfRf7W60rjI2mmveDbyo3o6bulwotMfHfB2yTz0btBF75kUlZoQURR9hPmxAWqFCJXPwClKGCmgeXiZSZMI9miidYDAlBbozfwGLu2EHaovZIT5sgkFVXKjlW0chOEY1ntoqC82X4xXo0OLecCOh79swnyIoYOJ4UxOEIMRqiVO26Qvnt7zwaipYdlx15hZINMywwX" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add verb="*" path="sitecore_feed.ashx" type="Sitecore.Shell.Feeds.FeedRequestHandler, Sitecore.Kernel" name="Sitecore.FeedRequestHandler" xdt:Locator="Match(path)" xdt:Transform="Remove" />
            <add path="*.xml" verb="*" type="System.Web.HttpForbiddenHandler" name="xml (integrated)" preCondition="integratedMode" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing"/>
            <add path="*.xslt" verb="*" type="System.Web.HttpForbiddenHandler" name="xslt (integrated)" preCondition="integratedMode" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing"/>
            <add path="*.config.xml" verb="*" type="System.Web.HttpForbiddenHandler" name="config.xml (integrated)" preCondition="integratedMode" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing"/>
            <add path="*.mrt" verb="*" type="System.Web.HttpForbiddenHandler" name="mrt (integrated)" preCondition="integratedMode" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing"/>
        </handlers>
    </system.webServer>
    <system.web>
        <membership hashAlgorithmType="SHA512" xdt:Transform="SetAttributes">
            <providers>
                <add name="sql" type="System.Web.Security.SqlMembershipProvider" requiresUniqueEmail="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
            </providers>
        </membership>
    </system.web>
</configuration>
