<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <!--The "rootHostName" should be set to the value of the default site-->
        <sc.variable name="rootHostName" value="ScHelix" />
        <sc.variable name="sourceFolder" value="C:\code\schelix\src" role:require="Standalone" />
    </sitecore>
</configuration>
